@import '../../../mixin';
.confirm-modal {
    .modal-dialog {
        height: 100%;
        .confirm-message{
            color:$ida-a3a;
            font-size:18px;
            padding-bottom:30px;
        }
        .modal-content {
            width: 100%;
            .ok{
                @include horizontal-center(250px, 0);
            }
            .cancel{
                @include horizontal-center(-20px, 0);
            }
        }
    }
}
