@import '../../../mixin';
.noUi-horizontal {
    height: 10px;
}

.noUi-background {
    background-color: black;
    box-shadow: none;
}

.noUi-target {
    @include border-radius(5px);
}

.noUi-horizontal .noUi-handle {
    background-color: #3FB8AF; //default color
    width: 24px;
    height: 24px;
    @include border-radius(12px);
    top: -8px;
    left: -12px;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.noUi-handle:after {
    width: 12px;
    left: 6px;
    height: 8px;
    top: 8px;
    background-color: transparent;
    border-left: 2px solid $ida-fff;
    border-right: 2px solid $ida-fff;
}

.noUi-handle:before {
    width: 2px;
    background-color: $ida-fff;
    left: 11px;
    top: 5px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 0px;
}

.noUi-value-horizontal {
    padding-top: 0px;
}

.noUi-pips-horizontal {
    min-height: 0px;
    height: inherit;
}

.slider-tooltip-holder {
    position: absolute;
    height: 15px;
    line-height: 15px;
    top: -20px;
    width: 200px;
    left: calc(50% - 100px);
    text-align: center;
}

.slider-tooltip {
    display: inline-block;
    background-color: #3FB8AF; //default color
    padding: 0 10px 0 10px;
    @include border-radius(2px);
    white-space: nowrap;
    color: $ida-fff;
    @extend %font-12-semibold;
}

.slider-tooltip-arrow {
    position: absolute;
    top: -5px;
    width: 10px;
    height: 0px;
    border-top: 5px solid #3FB8AF;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px;
    @include horizontal-center(10px, 0);
}
