@import '../../../mixin';
.new-project-form {
    .modal-dialog {
        height: 100%;
        .modal-content {
            width: 100%;
            @include screen-center(600px, 441px, 0, 100px);
            .create-button {
                @include horizontal-center(120px, 0);
            }
            textarea{
                @extend %font-12-light;
                color: $ida-323;
            }
        }
    }
}
