<div class="content-holder login-container" ng-controller="LoginController">
    <form name="loginForm" class="form-signin" role="form">
        <div class="login-content">Sign In</div>
        <div class="form-item-msg alert alert-danger" ng-show="loginFailed">
            {{loginErrorMessage}}
        </div>
        <div class="form-group" ng-class='currentInput==="username" ? "input-focus" : ""'>
            <div class="icon fa fa-user"></div>
            <input class="form-control nombrelogin" name="username" placeholder="Username" autocomplete='off' ng-model="credentials.username" ng-focus="currentInput='username'" required autofocus>
        </div>
        <div class="form-group" ng-class='currentInput==="password" ? "input-focus" : ""'>
            <div class="icon fa fa-unlock"></div>
            <input type="password" class="form-control" name="password" placeholder="Password" ng-model="credentials.password" ng-focus="currentInput='password'" required>
        </div>
        <div class="form-group">
            <button class="btn btn-default secondary-color sign-in" data-ng-click="login(credentials)"><span ng-if="!showLoading">SIGN IN</span>
                <div ng-if="showLoading">
                    <div class="loader"></div>
                </div>
            </button>
        </div>
        <p class="new-account-content" ng-click='register()'>Create a New Account</p>
    </form>
</div>
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <p>{{modalOptions.bodyText}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
        <button class="btn btn-primary" data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
    </div>
</script>
