@import '../../../mixin';
.register-form {
    .modal-dialog {
        height: 100%;
        width: 430px;
        .modal-content {
            width: 100%;
            @include screen-center(430px, 257px, 0, 100px);
            .create-button {
                @include horizontal-center(330px, 0);
                margin-top: 10px;
                width: 330px;
                &:hover {
                    margin-top: 8px;
                }
            }
            .register-input {
                @extend %font-16-light;
                height: 40px;
                @include border-radius(4px);
                width: 330px;
                margin: 0 auto;
            }
            .non-pwc-account {
                text-align: center;
                @extend %font-14-light;
                text-decoration: underline;
                color: $ida-ff5;
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }
}
