<div class='apiConfig-holder full-height' ng-controller='apiConfigCtrl'>
    <div class='top-bar project-title-bar position-relative'>
        <div>Project Name : {{projectName}}</div>
        <div class='project-tab-holder'>
            <div class='project-tab position-relative project-tab-current'>
                API Config
            </div>
            <div class='project-tab position-relative' ng-click='pageTo("projectCodeBase")'>
                Code Base
            </div>
        </div>
    </div>
    <div class='top-bar'>
        <button class='btn btn-danger btn-setup pull-left' ng-click='createAPI()'>NEW API</button>
        <button class='btn btn-danger btn-setup pull-left' ng-click='generateCode()'>GENERATE CODE</button>
        <div class="input-group api-file-filter pull-right">
            <span class="input-group-addon" id="server-route-text"><i class='fa fa-search'></i></span>
            <input type="text" class="form-control api-file-filter-input" placeholder="Filter API by file name" autocomplete='off' ng-model='apiFileFilter' aria-describedby="server-route-text" required>
        </div>
    </div>
    <div class='apiConfig-mid-holder'>
        <div id='holder-{{api.id}}' ng-repeat='api in (filteredItems = (arrApis | filter: {name: apiFileFilter})) track by $index' class='api-holder api-holder-{{api.apiMethod.name | lowercase}} position-relative' ng-class='getApiHolderColor(api)'>
            <div ng-if='api.apiMethod.name === "GET"' ng-include="'app/components/apiConfig/httpGetApi/httpGetApi.html'" ng-controller='httpGetApiCtrl' ng-init='init(api, $index)'></div>
        </div>
    </div>
</div>
